h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

body {
    background-color: rgb(95, 65, 44);
    margin: 0;
    padding:0;
    margin-top: 0;
    padding-top: 0;
}

#imghamburgueria {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#section_imghamburgueria {
    text-align: center;
}

.section_promoçãoprincipal {
    background-color: rgb(174, 137, 111);
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(174, 137, 111);
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px;
}

#div_promoçãoprincipal {
    display: flex;
}

#title_promoçãoprincipal {
    text-align: left;
    padding-left: 10px;
}

.section_cardapio {
    text-align: center;
    width: 30%;
    margin: auto;
    background-color: rgb(174, 137, 111);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;

}

.div_cardapio {
    display: flex;
}

.text_cardapio {
    text-align: justify;
}

#title_cardapio {
    font-size: 30px;
}

#footer {
    width: 100%;
}

#header {
    width: 100%;
}

iframe{
    margin: 0;
    padding: 0;
}