img{
    width: 15%;
}

#section_img{
    text-align: center;
    margin-top: 135px;
}

h1{
    text-align: center;
    color: darkgoldenrod;

}

body{
    background-color: rgb(95,65,44);
}

form{
    text-align: center;
}

button{
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

#botão_1{
    background-color: goldenrod;
}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    margin: 0;
    padding: 0;
}