img{
    width: 15%;
}

#section_img{
    text-align: center;
}

h2{
    text-align: center;
    color: darkgoldenrod;
}

body{
    background-color: rgb(95,65,44);
}

form{
    text-align: center;
}

button{
    color: goldenrod;
}