h2 {
    text-align: center;
    font-family: 'Times New Roman';
}

h3 {
    text-align:center;
    font-family: 'Times New Roman';
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(95, 65, 44);
    margin: 0;
    padding: 0;
}

#section_1 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.div_black {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    -webkit-box-shadow: -3px 4px 3px 6px #402b1a; 
box-shadow: -3px 4px 3px 6px #3b2a1f;
}


a {
    text-decoration: none;
    color: black;
}

.div_white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 0px;
    margin: auto;
    border-radius: 10px;
}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    margin: 0;
    padding: 0;
}