h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

body {
    background-color: rgb(95, 65, 44);
}

#imghamburgueria {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

#section_imghamburgueria {
    text-align: center;
}

.section_promoçãoprincipal {
    margin: auto;
    padding: 10px;
    background-color: rgb(174, 137, 111);
    width: 50%;
}

#imgpromoçãoprincipal {
    width:30%;
}

#div_promoçãoprincipal {
    display: flex;
}

#title_promoçãoprincipal {
    text-align: left;
    padding-left: 10px;
}