img{
    width: 15%;
}

#section_img{
    text-align: center;
    margin-top: 135px;
}

h2{
    text-align: center;
    color: darkgoldenrod;

}

h3{
    text-align: center;
}

body{
    background-color: rgb(95,65,44);
}

form{
    text-align: center;
}

button{
    color: rgb(0, 0, 0);
}

#botão_1{
    background-color: goldenrod;
}