h2 {
    text-align: center;
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
}

h3 {
    text-align: center;
    font-family: 'Times New Roman';
    padding-top: 50px;
    color: rgb(56, 45, 39);
    font-size:x-large;
}

.p_1 {
    color: white;
    justify-content: center;
    text-align: center;
}

p {
    color: white;
    justify-content: center;
    text-align: center;
}

h5 {
    text-align: center;
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
    font-size: x-large;
}

body {
    background-color: rgb(95, 65, 44);
    margin: 0;
    padding: 0;
}

#section_1 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

#section_3 {
    background-color: #ffffff;
    margin-top: 300px;
}

.div_black {
    background-color: rgb(174, 134, 111);
    padding: 0px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    -webkit-box-shadow: 0px -8px 1px 0px rgb(184, 154, 136);
    box-shadow: 0px -8px 1px 0px rgb(184, 154, 136);
    width: 33%;
}


a {
    text-decoration: none;
    color: black;
}

#img_1 {
    text-align: center;
}

.div_white {
    background-color: rgb(174, 134, 111);
    color: rgb(0, 0, 0);
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: -7px 0px 1px 0px rgb(184, 154, 136);
    box-shadow: -7px 0px 1px 0px rgb(184, 154, 136);
}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}

#header {
    width: 100%;
    margin: 0;
    padding: 0;
}

#team {
    margin-top: 10px;
    background-color: #efcebf;
    padding-left: 50px;
    padding-right: 45px;
    border-radius: 10px;
    padding-bottom: 40px;
    -webkit-box-shadow: 7px -4px 13px 5px rgba(0,0,0,0.49); 
box-shadow: 7px -4px 13px 5px rgba(0,0,0,0.49);

}