form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    border-radius: 30px;

}

* input {
    margin-bottom: 20px;
}

#botão {
    background-color: rgb(174,137,111);
}

head {
    background-color: rgb(95,65,44);
}

body {
    background-color: rgb(174, 137,111);
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font size: 350px;
    text-align: center;
    margin-top: 100px;
}