<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>threeburgers</title>
    <link href="../layouts/header.css" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <section id="section_1">
            <img src="../assets/images/logo 3burguers.jpg" width="100">
            </section>
            <nav>
                <ul>
                    <li><a class="anav" href="#">Menu</a></li>
                    <li><a class="anav" href="#">Sobre</a></li>
                    <li><a class="anav" href="#">Contato</a></li>
                </ul>
            </nav>
        </div>

    </header>
    
</body>
</html>