<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../layouts/header.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../assets/images/Logo CodeThree.jpg" width="90">
        <nav>
            <ul>
                <li id="li_1"><a class="anav" href="#">Home</a></li>
                <li><a class="anav" href="#">Sobre</a></li>
                <li><a class="anav" href="#">Contato</a></li>
                <li><a class="anav" href="#">Serviços</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>